.canvas-wrapper {
    display: flex;
    justify-content: center;
}

.canvas-frame {
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    .canvas-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: 15px;
        pointer-events: none;

        &.cable_flag {
            background: url('/assets/cable-flag-mask.svg');
            background-size: 100% 100%;
        }
    }

    .label {
        flex: 1;
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }

    &[data-shape='circular'] {
        border-radius: 50%;

        .label {
            border-radius: 50%;
        }
    }
}

.controls {
    padding: 0.5em 0;
}

.group {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
    gap: 0.5em;
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.brush-preview {
    height: 50px;
    width: 50px;
    display: flex;
    position: relative;
}

.brush {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    box-shadow: 0 0 0 1px white;
    border-radius: 50%;
}

.size {
    position: absolute;
    bottom: 0;
    right: 0;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.paper {
    padding-bottom: 1em;
}

.paper-size-form {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    margin: 0 0 1em;

    label {
        width: 70px;

        input {
            width: 100%;
        }
    }
}
