<p-toast></p-toast>

<div class="canvas-wrapper">
    <div class="canvas-frame">
        <canvas id="canvas" #canvasElement [height]="height" [width]="width"></canvas>
    </div>
</div>

<form class="controls" *ngIf="form" [formGroup]="form">
    <div class="group group-drawing">
        <label class="item">
            <p-checkbox formControlName="drawingMode" [binary]="true" inputId="drawingMode"></p-checkbox>
            enable drawing
        </label>
        <p-slider class="item grow" [min]="1" [max]="30" formControlName="brushSize"></p-slider>
        <div class="brush-preview">
            <div class="brush"
                 [style.width]="form.get('brushSize')?.value + 'px'"
                 [style.height]="form.get('brushSize')?.value + 'px'"
            ></div>
            <span class="size">{{ form.get('brushSize')?.value }}</span>
        </div>
    </div>
    <div class="group group-text">
        <p-button size="small" (click)="createText()">+ text</p-button>
        <p-slider class="item grow" [min]="5" [max]="72" formControlName="fontSize"></p-slider>
        <p-chip label="{{ form.get('fontSize')?.value }}"></p-chip>
    </div>
    <div class="group group-text">
        <p-dropdown formControlName="fontFamily" [editable]="true" [options]="fonts"></p-dropdown>
    </div>
    <div class="group group-text">
        <p-button size="small" (click)="createImg()">+ img</p-button>
    </div>
</form>

<div class="actions">
    <p-button [disabled]="busy" severity="danger" size="large" (click)="clear()">clear</p-button>
    <p-button [disabled]="busy" severity="success" size="large" (click)="print()">print</p-button>
</div>

